@page "/lists"
@attribute [Authorize]

<section>
    <MudText Typo="Typo.h2" Align="Align.Center" Class="mb-5">@_pageTitle</MudText>

    <MudButtonGroup Class="d-flex justify-center mb-5" Color="Color.Primary" Variant="Variant.Filled" DisableElevation="true">
        <MudButton OnClick="@(() => HandlePredicateChange("liked"))" Style="white-space: nowrap;">Members I Like</MudButton>
        <MudButton OnClick="@(() => HandlePredicateChange("likedby"))" Style="white-space: nowrap;">Members Who Like Me</MudButton>
    </MudButtonGroup>

    @if (_showError)
    {
        <MudAlert Severity="Severity.Error">@_errorText</MudAlert>
    }
    else if (_members?.Count > 0)
    {
        <MudGrid Class="d-flex mb-2">
            @foreach (MemberModel m in _members)
            {
                <MudItem Class="px-lg-12 px-xl-6" xs="12" sm="4" md="3" lg="3" xl="2">
                    <MemberCard Member="m" />
                </MudItem>
            }
        </MudGrid>

        <MudPagination Class="d-flex justify-center my-5"
                   Rectangular="true"
                   Color="Color.Primary"
                   Size="Size.Large"
                   Count="@_metaData.TotalPages"
                   Selected="@_metaData.CurrentPage"
                   SelectedChanged="HandlePageChangedAsync" />
    }
</section>
