@page "/member/{username}"
@page "/member/{username}/{StartTab:int}"
@attribute [Authorize]

<PageTitle>DatingApp - @_member?.KnownAs</PageTitle>

<section>
    <MudText Class="ml-2 mb-2" Typo="Typo.h3">@Username</MudText>

    @if (_showError)
    {
        <MudAlert Severity="Severity.Error">@_errorText</MudAlert>
    }
    else if (_member != null)
    {
        <MudGrid Justify="Justify.Center">

            <MudItem xs="12" md="4" lg="3">
                <MudCard Elevation="6" Style="border: 1px solid rgba(0,0,0,.125);">
                    <MudCardHeader>
                        <MudImage Class="img-thumbnail mx-auto"
                              Src="@_photoFilename"
                              Alt="@($"Photo of {_member.KnownAs}")"
                              Style="border: 4px solid var(--mud-palette-surface);" />
                    </MudCardHeader>
                    <MudCardContent Class="mx-auto" Style="width: 90%; height: 90%; max-width: 100%;">
                        <MudText Style="font-weight: bolder;">Location:</MudText>
                        <MudText Class="mb-3">@_member.City, @_member.State</MudText>
                        <MudText Style="font-weight: bolder;">Age:</MudText>
                        <MudText Class="mb-3">@_member.Age</MudText>
                        <MudText Style="font-weight: bolder;">Last active:</MudText>
                        <MudText Class="mb-3">@DateTime.Now.Subtract(_member.LastActive).Humanize()</MudText>
                        <MudText Style="font-weight: bolder;">Member since:</MudText>
                        <MudText>@_member.Created.ToLongDateString()</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudGrid Class="d-flex justify-center">
                            <MudItem xs="6" Class="px-1 pl-3">
                                <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       OnClick="HandleLikeToggleAsync"
                                       Style="width: 100%;">
                                    Like
                                </MudButton>
                            </MudItem>
                            <MudItem xs="6" Class="px-1 pr-3">
                                <MudButton Variant="Variant.Filled"
                                       Color="Color.Secondary"
                                       OnClick="async () => { await ActivateTab(_messagesTab); await ActivatePanel(_messagesPanel); }"
                                       Style="width: 100%">
                                    Message
                                </MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudCardActions>
                </MudCard>
            </MudItem>

            <MudItem xs="12" md="8" lg="9" Class="d-none d-md-block" Style="position: relative; top: -60px;">
                <MudTabs Elevation="6" Centered="true" Rounded="true" Color="Color.Primary" @ref="_memberDetailTabs">

                    <MudTabPanel Text="@($"About {_member.KnownAs}")" @ref="_aboutTab">
                        <MudContainer Class="mt-5 px-0">
                            <MudText Typo="Typo.h5" Style="font-weight: 500;">Description</MudText>
                            <MudText Class="pl-2 mt-2">@_member.Introduction</MudText>
                            <MudText Class="mt-4" Typo="Typo.h5" Style="font-weight: 500;">Looking for</MudText>
                            <MudText class="pl-2 mt-2">@_member.LookingFor</MudText>
                        </MudContainer>
                    </MudTabPanel>

                    <MudTabPanel Text="Interests" @ref="_interestsTab">
                        <MudContainer Class="mt-5 px-0">
                            <MudText Typo="Typo.h5" Style="font-weight: 500;">Interests</MudText>
                            <MudText class="pl-2 mt-2">@_member.Interests</MudText>
                        </MudContainer>
                    </MudTabPanel>

                    <MudTabPanel Text="Photos" @ref="_photosTab">
                        <MudContainer Class="mt-5 px-0">
                            <PhotoGallery Member="@_member" />
                        </MudContainer>
                    </MudTabPanel>

                    <MudTabPanel Text="Messages" OnClick="HandleMessagesTabClick" @ref="_messagesTab">
                        <MudContainer Class="mt-5 px-0">
                            <MemberMessage Username="@_member.Username" Messages="@_messages" />
                        </MudContainer>
                    </MudTabPanel>

                </MudTabs>
            </MudItem>

            <MudItem xs="12" Class="d-block d-md-none">
                <MudExpansionPanels MultiExpansion="false" @ref="_memberDetailExpPanel">

                    <MudExpansionPanel IsInitiallyExpanded="true" @ref="_aboutPanel">
                        <TitleContent>
                            <MudText Typo="Typo.h5">@($"About {_member.KnownAs}")</MudText>
                        </TitleContent>
                        <ChildContent>
                            <MudText Class="pl-2" Typo="Typo.h6" Style="font-weight: 500;">Description</MudText>
                            <MudText Class="pl-4 mt-2">@_member.Introduction</MudText>
                            <MudText Class="pl-2 mt-4" Typo="Typo.h6" Style="font-weight: 500;">Looking for</MudText>
                            <MudText class="pl-4 mt-2">@_member.LookingFor</MudText>
                        </ChildContent>
                    </MudExpansionPanel>

                    <MudExpansionPanel IsInitiallyExpanded="true" @ref="_interestsPanel">
                        <TitleContent>
                            <MudText Typo="Typo.h5">Interests</MudText>
                        </TitleContent>
                        <ChildContent>
                            <MudText class="pl-2 mt-2">@_member.Interests</MudText>
                        </ChildContent>
                    </MudExpansionPanel>

                    <MudExpansionPanel IsInitiallyExpanded="true" @ref="_photosPanel">
                        <TitleContent>
                            <MudText Typo="Typo.h5">Photos</MudText>
                        </TitleContent>
                        <ChildContent>
                            <PhotoGallery Member="@_member" />
                        </ChildContent>
                    </MudExpansionPanel>

                    <MudExpansionPanel IsInitiallyExpanded="true" @ref="_messagesPanel">
                        <TitleContent>
                            <MudText Typo="Typo.h5">Messages</MudText>
                        </TitleContent>
                        <ChildContent>
                            <MemberMessage Username="@_member.Username" Messages="@_messages" />
                        </ChildContent>
                    </MudExpansionPanel>

                    </MudExpansionPanels>
                </MudItem>

            </MudGrid>
    }
</section>
