@page "/member/{username}"
@attribute [Authorize]
@inject IMemberService MemberService
@inject ISnackbar Snackbar

<div class="container">

    <h1>@Username</h1>

    @if (_showError)
    {
        <div class="alert alert-danger text-center" role="alert">
            @_errorText
        </div>
    }
    else if (_member != null)
    {
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <img class="card-img-top img-thumbnail mx-auto" src="@_photoFilename" alt="@_member.KnownAs" />
                    <div class="card-body">
                        <strong>Location:</strong>
                        <p>@_member.City, @_member.State</p>
                    </div>
                    <div class="card-body">
                        <strong>Age:</strong>
                        <p>@_member.Age</p>
                    </div>
                    <div class="card-body">
                        <strong>Last active:</strong>
                        <p>@DateTime.Now.Subtract(_member.LastActive).Humanize()</p>
                    </div>
                    <div class="card-body">
                        <strong>Member since:</strong>
                        <p>@_member.Created.ToLongDateString()</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group d-flex">
                            <button class="btn btn-primary mx-1 col-6 text-nowrap">Like</button>
                            <button class="btn btn-success mx-1 col-6 text-nowrap">Message</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <TabControl>
                    <TabPage Text=@($"About {_member.KnownAs}")>
                        <h4>Description</h4>
                        <p class="pl-1">@_member.Introduction</p>
                        <h4>Looking for</h4>
                        <p class="pl-1">@_member.LookingFor</p>
                    </TabPage>
                    <TabPage Text="Interests">
                        <h4>Interests</h4>
                        <p class="pl-1">@_member.Interests</p>
                    </TabPage>
                    <TabPage Text="Photos">
                        <PhotoGallery Member="@_member" />
                    </TabPage>
                    <TabPage Text="Messages">
                        <p>Messages will go here!</p>
                    </TabPage>
                </TabControl>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public string Username { get; set; }

    private MemberModel _member;
    private string _photoFilename = "./assets/user.png";
    private bool _showError = false;
    private string _errorText;

    protected override async Task OnParametersSetAsync()
    {
        ServiceResponseModel<MemberModel> result = await MemberService.GetMemberAsync(Username);

        if (result.Success)
        {
            _member = result.Data;
            _photoFilename = await MemberService.GetPhotoAsync(_member.Username, _member.MainPhotoFilename);
        }
        else
        {
            _showError = true;
            _errorText = $"Request failed: {result.Message}";
            Snackbar.Add($"Request failed: {result.Message}", Severity.Error);
        }
    }
}
