@page "/members"
@attribute [Authorize]

<div>
    <MudContainer>

        <MudGrid Justify="Justify.Center">

            <MudItem xs="12" Class="d-flex justify-center">
                <MudText Typo="Typo.h2" Align="Align.Center">Your matches - @_metaData?.TotalCount found</MudText>
            </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <EditForm class="my-3" Model="@MemberService.MembersFilter" OnValidSubmit="HandleFilterSubmitAsync">
                    <DataAnnotationsValidator />

                    <MudCard Elevation="5">

                        <MudCardHeader>
                            <CardHeaderActions>
                                <MudGrid Class="d-flex flex-row align-end gap-5 mx-5">
                                    <MudNumericField T="int"
                                                     Label="Age from"
                                                     @bind-Value="@MemberService.MembersFilter.MinAge"
                                                     For="@(() => MemberService.MembersFilter.MinAge)" />
                                    <MudNumericField T="int"
                                                     Label="Age to"
                                                     @bind-Value="@MemberService.MembersFilter.MaxAge"
                                                     For="@(() => MemberService.MembersFilter.MaxAge)" />
                                    <MudSelect T="string"
                                               Label="Biology"
                                               Variant="Variant.Filled"
                                               @bind-Value="@MemberService.MembersFilter.Gender"
                                               For="@(() => MemberService.MembersFilter.Gender)">
                                        <MudSelectItem Value=@("female")>Female</MudSelectItem>
                                        <MudSelectItem Value=@("male")>Male</MudSelectItem>
                                    </MudSelect>
                                    <MudButtonGroup Variant="Variant.Outlined" OverrideStyles=false>
                                        <MudButton Class="mx-1" Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit">Apply Filters</MudButton>
                                        <MudButton Class="mx-1" Color="Color.Info" Variant="Variant.Filled" OnClick="HandleFilterResetAsync">Reset Filters</MudButton>
                                    </MudButtonGroup>
                                    <MudButtonGroup Variant="Variant.Outlined" OverrideStyles=false>
                                        <MudButton Class="mx-1" Color="Color.Dark" Variant="Variant.Filled" OnClick="@(x => HandleSortSubmitAsync("LastActive"))">Last Active</MudButton>
                                        <MudButton Class="mx-1" Color="Color.Dark" Variant="Variant.Filled" OnClick="@(x => HandleSortSubmitAsync("Created"))">Newest Members</MudButton>
                                    </MudButtonGroup>
                                </MudGrid>
                            </CardHeaderActions>
                        </MudCardHeader>

                        <MudCardContent>
                            @if (_showError)
                            {
                                <MudAlert Severity="Severity.Error">@_errorText</MudAlert>
                            }
                            else if (_members?.Count > 0)
                            {
                                @foreach (MemberModel m in _members)
                                {
                                    <MemberCard Member="m" />
                                }
                            }
                        </MudCardContent>

                        <MudCardActions Class="d-flex justify-center">
                            @if (_members?.Count > 0)
                            {
                                <Pagination MetaData=@_metaData Spread="10" PageChanged="HandlePageChangedAsync" />
                            }
                        </MudCardActions>

                    </MudCard>

                    <ValidationSummary />
                </EditForm>
            </MudItem>

        </MudGrid>

    </MudContainer>
</div>
