@page "/member/edit"
@attribute [Authorize]
@inject AuthenticationStateProvider AuthStateProvider
@inject IAuthenticationService AuthService
@inject IMemberService MemberService
@inject IToastService ToastService
@inject IMapper Mapper

@*TODO: 
    As of .NET 5.0, Blazor does not support the prevention
    of the user from navigating away from a page with
    unsaved changes.

    For this component, it means the user could make changes
    and accidentally navigate away from the page without
    saving them, which would be really annoying.
*@

@if (showError)
{
    <div class="alert alert-danger" role="alert">
        @errorText
    </div>
}

@if (member != null)
{
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <h1>Your profile</h1>
        </div>
        <div class="col-12 col-md-8 text-center">
            @if (changesMade)
            {
                <div class="alert alert-info" role="alert">
                    <strong>Changes made: </strong>Remember to save your changes!
                </div>
            }
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                @if (string.IsNullOrWhiteSpace(member.PhotoUrl))
                {
                    <img class="card-img-top img-thumbnail mx-auto" src="./assets/user.png" alt="@member.KnownAs" />
                }
                else
                {
                    <img class="card-img-top img-thumbnail mx-auto" src="@member.PhotoUrl" alt="@member.KnownAs" />
                }
                <div class="card-body">
                    <strong>Location:</strong>
                    <p>@member.City, @member.Country</p>
                </div>
                <div class="card-body">
                    <strong>Age:</strong>
                    <p>@member.Age</p>
                </div>
                <div class="card-body">
                    <strong>Last active:</strong>
                    <p>@member.LastActive</p>
                </div>
                <div class="card-body">
                    <strong>Member since:</strong>
                    <p>@member.Created</p>
                </div>
                @if (changesMade)
                {
                    <div class="card-footer">
                        <button class="btn btn-success btn-block" type="submit" form="editForm">Save Changes</button>
                    </div>
                }
            </div>
        </div>
        <div class="col-12 col-md-8">
            <TabControl>
                <TabPage Text=@($"About {@member.KnownAs}")>
                    <EditForm id="editForm" Model="@memberUpdate" edit @oninput="(e) => OnProfileUpdated(e)" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />

                        <h4>Description</h4>
                        <InputTextArea class="form-control" rows="6" @bind-Value="memberUpdate.Introduction" />
                        <ValidationMessage For="(() => member.Introduction)" />

                        <h4 class="mt-2">Looking for</h4>
                        <InputTextArea class="form-control" rows="6" @bind-Value="memberUpdate.LookingFor" />
                        <ValidationMessage For="(() => member.LookingFor)" />

                        <h4 class="mt-2">Interests</h4>
                        <InputTextArea class="form-control" rows="6" @bind-Value="memberUpdate.Interests" />
                        <ValidationMessage For="(() => member.Interests)" />

                        <h4 class="mt-2">Location Details:</h4>
                        <div class="form-inline">

                            <div class="col-6">
                                <label>City:</label>
                                <InputText class="form-control userinput" @bind-Value="memberUpdate.City" />
                            </div>

                            <div class="col-6">
                                <label>Country:</label>
                                <InputText class="form-control userinput" @bind-Value="memberUpdate.Country" />
                            </div>

                            <ValidationMessage For="(() => memberUpdate.City)" />
                            <ValidationMessage For="(() => memberUpdate.Country)" />

                        </div>

                    </EditForm>
                </TabPage>
                <TabPage Text="Edit Photos">
                    <PhotoGallery Photos="@member.Photos" />
                    <div class="form-group drag-drop-zone">
                        Upload image files here.
                        <InputFile disabled="@uploading" OnChange="HandleImageUpload" accept="image/*" />
                    </div>
                </TabPage>
            </TabControl>
        </div>
    </div>
}

@code {
    private bool showError = false;
    private string errorText;
    private MemberModel member;
    private MemberUpdateModel memberUpdate = new();
    private bool changesMade = false;
    long maxFileSize = 1024 * 1024 * 10;
    private bool uploading = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadMember();
    }

    private void OnProfileUpdated(ChangeEventArgs e)
    {
        changesMade = true;
    }

    private async Task HandleValidSubmit()
    {
        ServiceResponseModel<string> result = await MemberService.UpdateMemberAsync(memberUpdate);

        if (result.Success)
        {
            ToastService.ShowSuccess("Profile updated successfully");
            changesMade = false;
            showError = false;
            await LoadMember();
        }
        else
        {
            showError = true;
            errorText = $"Profile update failed: {result.Message}";
            ToastService.ShowError($"Profile update failed: {result.Message}");
        }
    }

    private async Task LoadMember()
    {
        AuthenticationState authState = await AuthStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal user = authState.User;
        ServiceResponseModel<MemberModel> result = await MemberService.GetMemberAsync(user.Identity.Name);

        if (result.Success)
        {
            member = result.Data;
            Mapper.Map(member, memberUpdate);
        }
        else
        {
            errorText = result.Message;
            showError = true;
        }
    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        try
        {
            uploading = true;
            IBrowserFile imageFile = await e.File.RequestImageFileAsync("image/jpeg", 500, 500);

            if (imageFile == null)
            {
                throw new Exception("Image file not found");
            }
            else if (imageFile.Size > maxFileSize)
            {
                throw new Exception($"Image file exceeds maximum size [{maxFileSize} bytes]");
            }

            StreamContent fileContent = new(imageFile.OpenReadStream(maxFileSize));

            using MultipartFormDataContent content = new();
            content.Add(
                content: fileContent,
                name: "\"files\"",
                fileName: imageFile.Name);

            ServiceResponseModel<PhotoModel> result = await MemberService.AddPhotoAsync(member.Username, content);

            if (result.Success)
            {
                ToastService.ShowSuccess("Photo added successfully");
                changesMade = false;
                showError = false;
                await LoadMember();
            }
            else
            {
                showError = true;
                errorText = $"{result.Message}";
                ToastService.ShowError($"{result.Message}");
            }
        }
        catch (Exception ex)
        {
            showError = true;
            errorText = $"{ex.Message}";
            ToastService.ShowError($"{ex.Message}");
        }
        finally
        {
            uploading = false;
        }
    }
}
