<div style="width: 100%">
    <MudCard Elevation="6">
        <MudCardHeader>
            <MudImage Src="@_photoFilename" Alt="@("Photo of @Member.KnownAs")" />
            <MudPaper Elevation="0" Class="d-flex justify-center member-icons animate gap-5">
                <MudIconButton Icon="@Icons.Filled.Person"
                               Variant="Variant.Filled" Color="Color.Primary"
                               Size="Size.Large"
                               aria-label="Profile"
                               OnClick="HandleUserClick" />
                <MudIconButton Icon="@Icons.Filled.HeartBroken"
                               Variant="Variant.Filled" Color="Color.Primary"
                               Size="Size.Large"
                               OnClick="HandleLikeToggleAsync"
                               aria-label="Like" />
                <MudIconButton Icon="@Icons.Filled.Mail"
                               Variant="Variant.Filled" Color="Color.Primary"
                               Size="Size.Large"
                               aria-label="Message" />
            </MudPaper>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.h6" Align="Align.Center" Class="member-info">
                @Member.KnownAs | @Member.Age
            </MudText>
            <MudDivider DividerType="DividerType.Middle" />
            <MudText Typo="Typo.h6" Align="Align.Center" Style="color: #868E96;">
                @Member.City
            </MudText>
        </MudCardContent>
    </MudCard>
</div>
