<div style="width: 100%;">
    <MudCard Elevation="6" Style="border: 1px solid var(--mud-palette-surface);">
        <MudCardHeader>
            <div class='img-blur-wrap'>
                <div class='img-blur-bg' style="background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3) ), url('@_photoFilename');"></div>
                <div class='img-blur' style="background-image: url('@_photoFilename')"></div>
            </div>
            <MudPaper Elevation="0" Class="d-flex justify-center member-icons animate gap-5">
                <MudIconButton Icon="@Icons.Filled.Person"
                               Variant="Variant.Filled" Color="Color.Primary"
                               Size="Size.Large"
                               aria-label="Profile"
                               OnClick="HandleUserClick" />
                <MudIconButton Icon="@Icons.Filled.HeartBroken"
                               Variant="Variant.Filled" Color="Color.Primary"
                               Size="Size.Large"
                               OnClick="HandleLikeToggleAsync"
                               aria-label="Like" />
                <MudIconButton Icon="@Icons.Filled.Mail"
                               Variant="Variant.Filled" Color="Color.Primary"
                               Size="Size.Large"
                               OnClick="HandleMessageClick"
                               aria-label="Message" />
            </MudPaper>
        </MudCardHeader>
        <MudCardContent Style="background-color: var(--mud-palette-surface);">
            <MudText Typo="Typo.body1" Align="Align.Center" Class="member-info">
                @Member.KnownAs | @Member.Age
            </MudText>
            <MudDivider DividerType="DividerType.Middle" />
            <MudText Typo="Typo.body1" Align="Align.Center" Class="member-location">
                @Member.City
            </MudText>
        </MudCardContent>
    </MudCard>
</div>
