<section>
    @if (_showError)
    {
        <MudAlert Severity="Severity.Error">@_errorText</MudAlert>
    }

    <MudGrid Justify="Justify.Center">

        @foreach (PhotoModel p in MemberStateService.AppUser.Photos)
        {
            <PhotoCard Photo="@p" OnImageChanged="HandleImageChangedAsync" />
        }

    </MudGrid>

    <MudText Class="mt-10" Typo="Typo.h4">Add Photos</MudText>

    <MudPaper @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass" Height="200px" Outlined="true" Class="@_dragClass">
        <InputFile 
            disabled="@_uploading" 
            OnChange="HandleImageUploadAsync" 
            accept="image/*" 
            class="absolute mud-width-full mud-height-full overflow-hidden z-2" 
            style="opacity:0;" />
        <MudIcon Icon="@Icons.Filled.FileUpload" Size="Size.Large" />
        <MudText Typo="Typo.h6" Inline="true">Drop new photo here</MudText>
    </MudPaper>

</section>
